<!DOCTYPE html>
<html>
<head>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Trait Tracker HG</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="navbar-collapse collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Personas<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Rasgos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Creditos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Acerca de</a>
            </li>
            </ul>
        </div>
    </nav>
    {% comment %} <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h2>Collapsible header</h2>
            </div>
            <ul class="list components">
                <li class="active"><a href="#">Personas</a></li>
                <li><a href="#">Rasgos</a></li>
            </ul>
        </nav>
        <div id="content">
        </div>
    </div> {% endcomment %}
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

</body>

</html>