{% extends "base.html" %}
{% block content %}
<div class="jumbotron text-center">
    <h1>Listado de personas y Rasgos</h1>
    <p>Aqui van a estar las personas eh eh eh</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Listado de personas</h3>
            <p>Aqui hay que poner el for de la base para cargar todas las personas y sus imagenes</p>
        </div>
        <div class="col-sm-4">
            <h3>Listado de Rasgos guardados</h3>
            <p>Aqui se puede poner la lista de rasgos con un boton para seguir agregando nuevos rasgos o algo asi eh eh eh</p>
        </div>
        <div class="col-sm-4">
            <h3>Columna 3 no se que poner</h3>
            <p>Le pongo un lorem ipsum buenaso por que no se que va a ir en esta Columna</p>
        </div>
    </div>
</div>

{% endblock content%}